<br />
<div class="center" id="Batman">
    <img class="image-slide" src="https://www.brickmarkt.com/img/cms/banner-batmanmovie.png" />
</div>
<div class="card-container">
  <a class="card" target="_blank" rel="noopener" *ngFor="let producto of productos">
    <img class="imgCards" src={{producto.imagen}} alt="" />
    <span>{{producto.nombre}}</span>
    <span>Precio: {{producto.precio | currency}}</span>
    <span>Disponibilidad: {{producto.disponibilidad}}</span>
    <button>Comprar</button>
    <button>Añadir a la Bolsa</button>
</a>
</div>

<div class="center" id="Frozen2">
    <img class="image-slide" src="https://i.ytimg.com/vi/d5ZlcJLis5g/maxresdefault.jpg" />
</div>
<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://resources.sears.com.mx/medios-plazavip/fotos/productos_sears1/original/2984462.jpg" alt="" />
        <span>Aldea del Castillo de Arendelle</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://cdn.shopify.com/s/files/1/2437/4099/products/43172_alt1_1200x900.jpg?v=1613676564" alt="" />
        <span>Palacio mágico de hielo de Elsa</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://lego.juguetron.mx/media/catalog/product/1/0/10899-box1-v39_xyvzjyf86a8zhlzu.jpg?optimize=high&fit=bounds&height=560&width=560" alt="" />
        <span>Frozen: Castillo de Hielo</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://resources.sears.com.mx/medios-plazavip/fotos/productos_sears1/original/2984464.jpg" alt="" />
        <span>Joyero Creativo de Elsa</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/673419302869.jpg" alt="" />
        <span>Aventura en Carreta de Elsa</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/bltfc29c267f21af41f/43186_alt6.jpg" alt="" />
        <span>Personaje Construible: Bruni la Salamandra</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/673419302852.jpg" alt="" />
        <span>Expedición en Canoa de Anna</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/blta796e7bdb19f3b11/43189_alt1.jpg?fit=bounds&format=jpg&quality=80&width=528&height=528&dpr=1" alt="" />
        <span>Historias: Elsa y el Nokk</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/blt0aa421cebbef5478/43194_alt1.jpg?fit=bounds&format=jpg&quality=80&width=1600&height=1600&dpr=1" alt="" />
        <span>Frozen: Paraíso Invernal de Anna y Elsa</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/blt8034f030da171420/853969_alt1.jpg?fit=bounds&format=jpg&quality=80&width=320&height=320&dpr=1" alt="" />
        <span>Llavero de Anna LEGO® l Disney Frozen 2</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/blt5740bb6ed629ef1c/853968_alt1.jpg" alt="" />
        <span>Llavero de Elsa LEGO® l Disney Frozen 2</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
</div>

<div class="center" id="JurassicPark">
    <img class="image-slide" src="https://nosomosnonos.com/wp-content/uploads/2019/09/lego-jurassic-world.jpg" />
</div>
<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://lego.juguetron.mx/media/catalog/product/7/5/75936-box1-v39_vijmzvpb4m7lkre1.jpg?optimize=high&fit=bounds&height=560&width=560" alt="" />
        <span>Parque Jurásico: Caos del T. rex</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/bltc8a081405f3e4d03/75941_alt1.jpg?fit=bounds&format=jpg&quality=80&width=320&height=320&dpr=1" alt="" />
        <span>Indominus Rex vs. Ankylosaurus</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/bltd97bab2d40f6ca4a/75935_alt1.jpg?fit=bounds&format=jpg&quality=80&width=320&height=320&dpr=1" alt="" />
        <span>Encuentro con el Baryonyx: La Caza del Tesoro</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/bltfdd4a0e8a328ff20/75940_alt1.jpg?fit=bounds&format=jpg&quality=80&width=320&height=320&dpr=1" alt="" />
        <span>Fuga del Gallimimus y el Pteranodon</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/blt08d8aee7791e0ff9/75942_alt1.jpg?fit=bounds&format=jpg&quality=80&width=320&height=320&dpr=1" alt="" />
        <span>Velocirraptor: Misión de Rescate en Biplano</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/blt9ee1b01b4b4805bf/75939_alt1.jpg?fit=bounds&format=jpg&quality=80&width=320&height=320&dpr=1" alt="" />
        <span>Laboratorio del Dr. Wu: Fuga de las Crías de Dinosaurio</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/blt2325e8a6a6ba480c/10939_alt1.jpg?fit=bounds&format=jpg&quality=80&width=320&height=320&dpr=1" alt="" />
        <span>Fuga del T. rex y el Triceratops</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
    <a class="card" target="_blank" rel="noopener" href="">
        <img class="imgCards" src="https://www.lego.com/cdn/cs/set/assets/blt5fd08913d6796be2/41614_alt1.jpg?fit=bounds&format=jpg&quality=80&width=320&height=320&dpr=1" alt="" />
        <span>Owen & Blue</span>
        <span>$199.99</span>
        <button>Comprar</button>
        <button>Añadir a la Bolsa</button>
    </a>
</div>
